<mat-card>
    <h2>Register Page</h2>
    <mat-card-content>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Enter your name" name="name" [(ngModel)]="username" required>
            <mat-error>
                Please provide Name
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email Address</mat-label>
            <input matInput placeholder="Enter your email" [(ngModel)]="email" name="email" type="email" required>
            <mat-error>
                Please provide a valid email address
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Enter your password" [(ngModel)]="password" name="password" type="password"
                required>
            <mat-error>
                Please provide a valid password
            </mat-error>
        </mat-form-field>
        <mat-error *ngIf="showError">Please provide all details to Register !</mat-error>
        <button mat-raised-button color="primary" (click)="register()">Register</button>
    </mat-card-content>
</mat-card>